
<h1>Welcome to the Accessibility Key Code Challenge</h1>
<p>Your goal is to find the 4 digit number that I've hidden in the following pages using only your screenreader (no peeking!).</p>
<p>The number should at least be readable in each step, though it may not be easy to pick out.  Use your screenreader cheat sheet as you go and keep a note pad or second device handy to write down your numbers so you don't risk uncovering your screen and seeing the answer.</p>
<p>At the end of every page will be a "Next Step" button that will take you to the next page.  I'm not trying to trick you with these, so they'll always be there and always the last item on the page.  Be sure to not move on until you're sure you've found that step's number. </p>
<p>Read ALL directions carefully.</p>
<p>Open your screenreader now and tab to focus the Start button at the end of this page.  When you activate Start you'll immediately be taken to the first step, so be sure to cover your screen before you do so.</p>
<p>Good luck!</p>
