<content>
  <div class="flex_center">
    <div>
      <app-start *ngIf="step === 0"></app-start>
      <app-step-1 *ngIf="step === 1"></app-step-1>
      <app-step-2 *ngIf="step === 2"></app-step-2>
      <app-step-3 *ngIf="step === 3"></app-step-3>
      <app-step-4 *ngIf="step === 4"></app-step-4>
      <app-end *ngIf="step === 5"></app-end>
      <p class="center">
        <button *ngIf="step === 0" type="button" (click)="stepForward(step + 1)">Start</button>
        <button *ngIf="step > 0 && step < 5" type="button" (click)="stepForward(step + 1)">Next Step</button>
        <button *ngIf="step === 5" type="button" (click)="stepForward(0)">Restart</button>
      </p>
    </div>
  </div>
</content>
