<h1 #header tabindex="-1">Step 2: Find the 2nd digit of your key</h1>

<p>The second number in your key is in the row "Banana" and the column "Apple".</p>



<table>
    <tr>
        <td></td>
        <td>Orange</td>
        <td>Pear</td>
        <td>Mango</td>
        <td>Grape</td>
        <td>Cherry</td>
        <td>Strawberry</td>
        <td>Banana</td>
        <td>Blueberry</td>
        <td>Apple</td>
        <td>Watermelon</td>
        <td>Pineapple</td>
        <td>Plum</td>
        <td>Coconut</td>
        <td>Tomato</td>
        <td>Carrot</td>
    </tr>
    <tr>
        <td>Carrot</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Tomato</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Coconut</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Plum</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Banana</td>
        <td>9</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>9</td>
        <td>2</td>
        <td>{{ key[1] }}</td>
        <td>5</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Strawberry</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Cherry</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Grape</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Mango</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Pear</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>6</td>
        <td>1</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>5</td>
        <td>9</td>
        <td>0</td>
        <td>7</td>
        <td>2</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Blueberry</td>
        <td>1</td>
        <td>5</td>
        <td>7</td>
        <td>2</td>
        <td>0</td>
        <td>7</td>
        <td>9</td>
        <td>0</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Apple</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Watermelon</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>6</td>
        <td>2</td>
        <td>9</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Pineapple</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
        <td>0</td>
        <td>7</td>
        <td>1</td>
        <td>4</td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>2</td>
        <td>8</td>
        <td>5</td>
    </tr>
</table>